@using Client.Auth
@inject AuthFlow AuthFlow
@inject AuthStateProvider StateProvider

<style>
    .profile-card {
        display: flex;
        align-items: center;
        border-radius: 8px;
        width: 100%;
        max-width: 300px;
        overflow: hidden;
    }

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: #7b61ff;
        color: #fff;
        border-radius: 50%;
        flex-shrink: 0;
        font-size: 16px;
        font-weight: var(--weight-medium);
    }

    .profile-info {
        width: 145px;
        margin-left: 10px;
        flex: 1;
    }

    .profile-name {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .profile-role {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .logout-icon {
        margin-left: auto;
        cursor: pointer;
    }

    .logout-icon i {
        font-size: 20px;
        color: #333;
    }
</style>

<div class="profile-card">
    <div class="avatar">
        @StateProvider.Initials
    </div>
    <div class="profile-info">
        <div class="text-headline-small profile-name">
            @StateProvider.Fullname
        </div>
        <div class="text-body profile-role">
            @StateProvider.Role
        </div>
    </div>
    <div class="logout-icon" @onclick="_ => AuthFlow.Logout()">
        <LogoutIcon />
    </div>
</div>
