:root {
    --sidebar-icon-color: var(--light-text-color);
}

header {
    width: var(--sidebar-width);
    height: var(--header-height);
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    background-color: var(--light-background-secondary);
    color: var(--light-text-color);
    justify-content: space-between;
    border-radius: 12px;
}

.header-base {
    display: flex;
}

.header-mobile {
    display: none;
}

.burger {
    display: none;
    background: none;
    border: none;
    color: var(--light-text-color);
    font-size: 24px;
    cursor: pointer;
}

.container {
    display: flex;
}

.sidebar-icon {
    background-color: var(--sidebar-icon-color);
    width: 24px;
    height: 24px;
    display: inline-block;
}

.sidebar-employees-icon {
    mask: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 3.46776C17.4817 4.20411 18.5 5.73314 18.5 7.5C18.5 9.26686 17.4817 10.7959 16 11.5322M18 16.7664C19.5115 17.4503 20.8725 18.565 22 20M2 20C3.94649 17.5226 6.58918 16 9.5 16C12.4108 16 15.0535 17.5226 17 20M14 7.5C14 9.98528 11.9853 12 9.5 12C7.01472 12 5 9.98528 5 7.5C5 5.01472 7.01472 3 9.5 3C11.9853 3 14 5.01472 14 7.5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.sidebar-citizens-icon {
    mask: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 11H4.6C4.03995 11 3.75992 11 3.54601 11.109C3.35785 11.2049 3.20487 11.3578 3.10899 11.546C3 11.7599 3 12.0399 3 12.6V21M16.5 11H19.4C19.9601 11 20.2401 11 20.454 11.109C20.6422 11.2049 20.7951 11.3578 20.891 11.546C21 11.7599 21 12.0399 21 12.6V21M16.5 21V6.2C16.5 5.0799 16.5 4.51984 16.282 4.09202C16.0903 3.71569 15.7843 3.40973 15.408 3.21799C14.9802 3 14.4201 3 13.3 3H10.7C9.57989 3 9.01984 3 8.59202 3.21799C8.21569 3.40973 7.90973 3.71569 7.71799 4.09202C7.5 4.51984 7.5 5.0799 7.5 6.2V21M22 21H2M11 7H13M11 11H13M11 15H13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
}

.sidebar-ownership-icon {
    mask: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 21V13.6C9 13.0399 9 12.7599 9.10899 12.546C9.20487 12.3578 9.35785 12.2049 9.54601 12.109C9.75992 12 10.0399 12 10.6 12H13.4C13.9601 12 14.2401 12 14.454 12.109C14.6422 12.2049 14.7951 12.3578 14.891 12.546C15 12.7599 15 13.0399 15 13.6V21M11.0177 2.76401L4.23539 8.03914C3.78202 8.39176 3.55534 8.56807 3.39203 8.78887C3.24737 8.98446 3.1396 9.2048 3.07403 9.43907C3 9.70354 3 9.99071 3 10.5651V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V10.5651C21 9.99071 21 9.70354 20.926 9.43907C20.8604 9.2048 20.7526 8.98446 20.608 8.78887C20.4447 8.56807 20.218 8.39176 19.7646 8.03914L12.9823 2.76402C12.631 2.49076 12.4553 2.35414 12.2613 2.30162C12.0902 2.25528 11.9098 2.25528 11.7387 2.30162C11.5447 2.35414 11.369 2.49076 11.0177 2.76401Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    color: var(--light-text-color);
    transition: transform 0.3s ease, margin-left 0.3s ease;

    margin-top: 30px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
}

.sidebar-list-title {
    font-size: 14px;
    color: var(--light-text-color65);

    margin-bottom: 10px;
}

.sidebar-list-item {
    display: flex;
    flex-direction: row;

    color: var(--light-text-color);
    font-size: 14px;
    border-radius: var(--base-radius);
    padding: 12px;

    cursor: pointer;
    text-decoration: none;
}

.sidebar-list-item.active {
    background-color: var(--primary-color);
    color: white;
}

.sidebar-list-item.active .sidebar-icon, .sidebar-list-item:hover .sidebar-icon {
    background-color: var(--light-background-secondary);
}

.sidebar-list-item:hover {
    background-color: var(--primary-color-dark);
    color: white;
}

.sidebar-list-item span {
    margin-left: 14px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, margin-left 0.3s ease;
    padding: 20px;
    padding-left: 0;
}

@media (max-width: 760px) {
    .sidebar-wrapper {
        width: 0;
        padding: 0;
    }

    .header-base {
        display: none;
    }

    .header-mobile {
        width: 100%;
        height: var(--header-height-mobile);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-mobile svg {
        height: 60px;
    }

    .burger {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
    }

    .sidebar.open {
        width: 300px;
        left: 20px;
        transform: translateX(0);
    }

    .content {
        padding: 20px;
        transform: translateX(0);
    }

    .content.shifted {
        transform: translateX(var(--sidebar-width));
    }
}
