.users-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.users-list {
    display: grid;
    gap: 2.5rem;
}

.role-panel {
    display: flex;
    flex-direction: column;
}

.role-users {
    display: flex;
    flex-direction: column;
}

.user-card {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.user-card:not(:last-child) {
    padding-bottom: 1rem;
}

.user-name {
    font-size: 1rem;
    font-weight: var(--weight-medium);
    color: var(--primary-color);
}

.user-info {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
}

.search-panel {
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    margin-bottom: 1rem;

    background-color: var(--light-background-secondary);
    border-radius: 12px;
}

.search-input {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-input .rz-form-field-content {
    margin-block: 0;
}

.search-input .rz-textbox, .search-input .rz-form-field {
    width: 450px;
    height: 40px;
}

.search-icon {
    background-color: var(--primary-color);
    mask: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="%237270f4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

@media (max-width: 760px) {
    .users-panel {
        display: flex;
    }
    
    .user-create-panel {
        display: none;   
    }

    .search-input .rz-textbox, .search-input .rz-form-field {
        width: 100%;
    }
}