@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<RadzenComponents />

<div style="display: flex;">
    <Sidebar />
    <div class="content">
        <header class="header-mobile">
            <button id="menuToggle" class="burger">
                ☰
            </button>
            <ProfileCard />
        </header>
        <main>
            @Body
        </main>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initMenuToggle");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
