:root {
    --light-background: #F2F2F7;
    --light-background-secondary: #FFFFFF;

    --primary-color-lighter: rgba(114, 112, 244, 0.2);
    --primary-color-light: rgba(114, 112, 244, 0.5);
    --primary-color: rgba(114, 112, 244, 1);
    --primary-color-dark: rgba(114, 112, 244, 0.8);
    --primary-color-darken: rgba(100, 98, 220, 1);
    
    --primary-color75: rgba(114, 112, 244, 0.75);
    --primary-color50: rgba(114, 112, 244, 0.50);
    --primary-color25: rgba(114, 112, 244, 0.25);
    --primary-color15: rgba(114, 112, 244, 0.15);
    --primary-color-dark: rgb(105, 103, 227);

    --secondary-color-lighter: #E2E2E225;
    --secondary-color-light: #E2E2E250;
    --secondary-color: var(--light-background);
    --secondary-color-dark: #DBDBDB;
    --secondary-color-darker: #D4D4D4;
    
    --light-text-color: rgba(28, 28, 30, 1);
    --light-text-color83: rgba(28, 28, 30, 0.83);
    --light-text-color65: rgba(28, 28, 30, 0.65);
    --light-text-color25: rgba(28, 28, 30, 0.25);
    --light-text-color10: rgba(28, 28, 30, 0.1);
    --light-text-color4: rgba(28, 28, 30, 0.04);
    
    --max-width: 1280px;
    --sidebar-width: 300px;
    --header-height: 70px;
    --header-height-mobile: 60px;
    
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    
    --base-radius: 8px;
    --base-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**:focus {*/
/*    outline: 2px solid var(--primary-color);*/
/*    outline-offset: 4px;*/
/*    border-radius: 8px;*/
/*}*/

body {
    font-family: 'Ubuntu', sans-serif;
    background: var(--light-background);
}

.text-headline-small {
    font-size: 20px;
    font-weight: var(--weight-medium);
    color: var(--light-text-color);
}

.text-body {
    font-size: 14px;
    font-weight: var(--weight-regular);
    color: var(--light-text-color);
}

.spinner-border {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 0.15em;
}

.required {
    color: var(--bs-danger);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2D2D2D40;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2D2D2D60;
}
