.rz-textbox, .rz-form-field-content {
    height: 46px;
    background-color: var(--light-background);
    border-radius: 12px;
}

.rz-button-lg {
    height: 48px;
    padding: 0.75rem 1.25rem;
    min-height: 3rem;
}
