@page "/404"

@inject NavigationManager Navigation

<PageTitle>Страница не найдена</PageTitle>

<h3>404 - Страница не найдена</h3>
<RadzenButton Text="На главную" Style="width: max-content;"
              ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large"
              Click="@(_ => Navigation.NavigateTo("/", true))"/>
